/*================================
	    CSS Reset
================================*/

html, body, div, span, a, 
img, h1, h2, h3, h4, h5, h6, p,
ol, ul, li, form, label 
{
	background: transparent;
	border: 0;
	font-family: 'Arial', sans-serif;
	font-weight: inherit;
	font-size: 12px;
	margin: 0;
	outline: 0;
	padding: 0;
}


#bg {
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1000;
}


#header {
    background: url('../images/header.jpg') repeat;
    height: 85px;
    width: 100%;
}

    
.back {
	color: #ffffff;
	float:left; padding: 30px 20px;    font-family: 'Georgia', Times New Roman, serif;
	font-style: italic;
	font-size: 18px;
	
	text-decoration: none;
    }

    
.title {
color: #fff;
	white-space : nowrap;
	font-family: 'Georgia', Times New Roman, serif;
	font-size: 36px;
	font-weight: bold;
	padding: 22px 350px;
	text-shadow: 0 2px 2px #a24c00;
    }


#body { padding: 40px 60px; }

    
#listing-table { width: 625px; }
    
#listing-table tr td {
	color: #444444;
	font-size: 15px;
	padding: 6px 10px;
    }
    
#listing-table tr td a {
	color: #0349c8; 
	font-size: 15px;
	line-height: 22px;
    }
    
#listing-table tr.pair-tr {
	background: url('../images/tr-even.png') repeat;
    }

    
#listing-table tr td a.edit {
	background: url('../images/edit.png') no-repeat;
	color: #ff7a00;
	padding: 0 0 0 20px;
	text-decoration: none;
    }

    
.italic { font-style: italic; }

    
.btn {
	color: #fff;
	border: none;
	font-size: 24px;
	font-family: 'Georgia', Times New Roman, serif;
	height: 47px;
	margin: 0 0 30px 0;
	width: 285px;
	text-shadow: 0 -1px 0 #000;
	box-shadow:  2px 3px 5px #ccc;
	-moz-box-shadow:  2px 3px 5px #ccc;
	-webkit-box-shadow:  2px 3px 5px #ccc;
    }

    
.blue { background: url('../images/btn-blue.jpg') repeat-x;  }
    
.orange { background: url('../images/btn-orange.jpg') repeat-x;  }

    
#listcostumer-table {
	color: #555;
	width: 960px !important;
    }

    
#listcostumer-table thead tr th {
background: url('../images/footer.jpg') repeat;
 text-align: left;
 padding: 6px 10px;
 }

    
#listcostumer-table tr { background: #f1f1f1; }
    
#listcostumer-table tr.pair-tr { background: none; }

    
#listcostumer-table tr td {
	font-size: 12px;
	padding: 6px 10px;
	vertical-align: middle;
    }

    #listcostumer-table tr td a { font-size: 12px !important;  }

    
#listcostumer-table tfoot tr { background: url('../images/header.jpg') repeat; }
    
#listcostumer-table tfoot tr td { border: none; padding: 2px 0; }
    
#listcostumer-table .payment { color: #056fbb;  }
    #listcostumer-table .actions a { float: left; padding: 10px 5px 0 5px; }
    #listcostumer-table .btn-action {
	font-size: 11px !important;
	padding: 20px 5px 0 5px !important;
	text-decoration: none;
    }
    
#listcostumer-table .update {
	background: url('../images/btn-action.png') 14px 0 no-repeat;
	color: #575757;
    }
    #listcostumer-table .delete {
	background: url('../images/btn-action.png') -50px 0 no-repeat;
	color: #b61105;
    }



#footer {
    background: url('../images/footer.jpg') repeat;
    height: 49px;
    width: 100%;
}

    .copy {
	color: #fff;
	padding: 18px 60px;
	float: left;
    }

    .legal {
	float: right;
	margin: 0 100px 0 0;
    }

    
.legal a {
	color: #fee229;
	float: left;
	font-style: italic;
	padding: 18px 5px;
	text-decoration: none;
 }
  
#searchform label {
            float: left;
            padding: 7px 0 0 0;
            width: 35px;
        }
        #searchform input {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px;
        }
        #searchform input.submit {
            margin: 5px 0 0 35px;
        } 

	#standardform label {
            float: left;
            padding: 7px 0 0 0;
            width: 150px;
        }
        #standardform input {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px;
        }
        #standardform input.submit {
            margin: 5px 0 0 35px;
        }       
